<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Sign in</h4>
                        <p class="card-category">Ingrese a su sesión</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                                <form>
                                        <div class="form-group">
                                                <label for="exampleFormControlInput1">Nombre Curso</label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese nombre del curso">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputPassword1">Contraseña</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
                                              </div>
                                        <td class="text-center">
                                                <a target="_blank" href="" class="btn btn-round btn-fill btn-info">Ingresar</a>
                                        </td>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
