<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Jamer Gualteros
                    </a>
                </li>
                <li>
                    <a href="">
                        Xiomara Lopez
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://www.ucc.edu.co/Paginas/inicio.aspx" target="_blank">UNIVERSIDAD COOPERATIVA DE COLOMBIA.</a> 
        </div>
    </div>
</footer>
