<!--<div id="map"></div>  -->


<div class="main-content">
                <div class="container-fluid">
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h4 class="card-title">Busqueda de estudiante</h4>
                          <p class="card-category">A continuación ingrese el numero de documento del estudiante a actualizar </p>
                      </div>
                      <div class="card-body">
                          <div id="typography">
                              <div class="card-title">
                                  <h2>Busqueda de estudiante</h2>
                              </div>
                              <div class="row">
                                  <div class="tim-typo">
                                      <h1>
                                          <span class="tim-note"> Busqueda de estudiante </span>  </h1>
                                                <div>
                                                        <label for="exampleFormControlInput1">Ingrese el numero de documento del estudiante a buscar</label>
                                                        <input type="number" class="form-control" id="exampleFormControlInput1" min="0" max="9" placeholder="Ingrese número de Identificación">
                                                
                                                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                                
                                                                <i class="material-icons">search</i>
                                                                <div class="ripple-container"></div>
                                                                
                                                        </button><label>Buscar</label>
                                                </div>


                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

<div>


        <!--       <i class="material-icons">search</i>   -->
        <!--<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
        </button>
        -->
</div>


<div class="main-content">
        <div class="container-fluid">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Registro</h4>
                  <p class="card-category">Realice el registro de Usuario</p>
              </div>
              <div class="card-body">
                  <div id="typography">
                      <div class="card-title">
                          <h2>Registro de Usuario</h2>
                      </div>
                      <div class="row">
                          <div class="tim-typo">
                              <h1>
                                  <span class="tim-note"> registro de Usuario </span>  </h1>
                          <!--Formulario de Registro-->
                                  <form>
                                          <div class="form-group">
                                                  <label for="exampleFormControlSelect1">Tipo de Documento</label>
                                                  <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Tarjeta de identidad</option>
                                                    <option>Cedula de ciudadania</option>
                                                    <option>Nuip</option>
                                                  </select>
                                          </div>
      
                                          <div class="form-group">
                                                  <label for="exampleFormControlInput1">Numero de Identificación</label>
                                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su número de Identificación">
                                          </div>
                                          
                                          <div class="form-group">
                                                <label for="exampleFormControlInput1">Nombre</label>
                                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese Nombre">
                                          </div>
                                          <div class="form-group">
                                                  <label for="exampleFormControlInput1">Apellido</label>
                                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su Apellido">
                                          </div>
                                          <div class="form-group">
                                                  <label for="exampleFormControlInput1">Fecha de nacimiento</label>
                                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fecha de nacimiento">
                                          </div>
                                          
                                          <div class="form-group">
                                            <label for="exampleFormControlInput1">Email address</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                          </div>
                                          <div class="form-group">
                                                  <label for="exampleFormControlInput1">Telefono</label>
                                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese numero telefonico">
                                          </div>
      
                                          <div class="form-group">
                                                  <label for="exampleFormControlInput1">Celular</label>
                                                  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese numero Celular">
                                          </div>
                                          <div class="form-group">
                                            <label for="exampleFormControlSelect1">Genero</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                              <option>Femenino</option>
                                              <option>Masculino</option>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                                  <label for="exampleFormControlSelect1">Ingrese su Rol</label>
                                                  <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Profesor</option>
                                                    <option>Alumno</option>

                                                  </select>
                                          </div>
                                          <div class="form-group">
                                                <label for="exampleFormControlSelect1">Curso</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>Curso 1</option>
                                                  <option>Curso 2</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Seleccione Discapacidad</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>discapacidad 1</option>
                                                      <option>discapacidad 2</option>
                                                    </select>
                                            </div>
                                            <div class="form-group">
                                                        <label for="exampleFormControlInput1">Actualizacion contraseña</label>
                                                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Realice la actualizacion de la contraseña">
                                                </div>
                                          <!--<div class="form-group">
                                            <label for="exampleFormControlTextarea1">Example textarea</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                          </div>-->
                                        </form>
                                  <td class="text-center">
                                          <a target="_blank" href="" class="btn btn-round btn-fill btn-info">Actualizar Informacion</a>
                                  </td>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      